.recipe-page .recipe-image
{
    height: 300px;
}

.recipe-page img {
    width: auto;
}

.recipe-page .recipe-card
{
    cursor: pointer;
    max-width: 500px;
    display: inline-block;
}

.recipe-page .add-button
{
    position: absolute;
    top: 10px;
    left: 10px;
}