.ing-popover-container .ing-popover-item
{
    cursor: pointer;
    margin-left: 0px;
    padding-left: 8px;
    color: black;
}

.ing-popover-container :hover
{
    background-color: #387ef5;
    color: white;
}