//not added to css
.ingredient-page .ingredient-image
{
    height: 300px;
}

.ingredient-page img {
    width: auto;
}

.ingredient-page .show-overflow
{
    ion-label
    {
        white-space: normal;
    }
    white-space: normal;
}

.ingredient-page .ingredient-button
{
    border-bottom: solid #387ef5 1px;
}